// mixins

@mixin ink-margin-top-large {
  margin-top: 4rem;
}

@mixin ink-margin-top-small {
  margin-top: 2em;
}

@mixin ink-margin-top-none {
  margin-top: 0;
}

body {
  background-color: #efebe9;
  color: #3e4618;
}

.field--name-node-title,
.align-center {
  text-align: center;
}

// basic page
.ink-logo {
  width: 100px;
  margin-bottom: 30px;
}

.bs-region--right {
  @include ink-margin-top-large;
}

.ink-node-title {
  text-align: center;
  @include ink-margin-top-small;
}

// product full page

.field--name-field-image-full img {
  @include ink-margin-top-small;
}

.field--name-body,
.field--name-field-image-close-up,
.field--name-field-extra-text {
  @include ink-margin-top-large;
}

.field--name-field-image-close-up .field__item:not(:first-child) {
  @include ink-margin-top-small;
}

@include media-breakpoint-up(md) {
  .field--name-field-image-close-up .field__item:not(:first-child) {
    @include ink-margin-top-none;
  }
}

.field--name-field-image-close-up .field__item img {
  border-radius: 5px;
  max-width: 80%;
}

@include media-breakpoint-up(md) {
  .field--name-field-image-close-up .field__item img {
    max-width: 100%;
  }
}

.ink-call-to-order {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  // height: 120px;
  margin-top: calc(1rem + 1vw);
}

.field--name-field-badge {
  width: calc(4rem + 5vw);
  text-align: center;
}

.field--name-field-order-link {
  width: 175px;
  text-align: center;
  margin-top: 20px;
}

// produce sidebar

.ink-sidebar-product {
  margin-top: 5rem;
}

#block-views-block-cards-block-1 h2 {
  text-align: center;
  margin-bottom: 20px;
}

// footer

.region-footer {
  border-top: 1px black solid;
}

.ink-footer {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.ink-footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.land-logo img {
  width: 149px;
  height: 59px;
  margin-bottom: 20px;
}

.gtp-logo img {
  height: 59px;
  width: 59px;
  margin-bottom: 20px;
}

.ink-footer-item:first-child {
  margin-bottom: 2rem;
}

@include media-breakpoint-up(md) {
  .ink-footer-item:first-child {
    margin-right: 3rem;
    margin-bottom: 0;
  }
  .ink-footer {
    width: 500px;
  }
}

// Location and videos in About

.about-text-body {
  margin-bottom: 4rem;
}

@include media-breakpoint-only(xl) {
  .field--name-field-video-box {
    height: 25rem;
  }
}

@include media-breakpoint-only(lg) {
  .field--name-field-video-box {
    height: 20rem;
  }
}

.outer-video-container {
  max-width: 500px;
}

.outer-map-container {
  max-width: 500px;
}

// .video-container {
//   height: 412px;
// }

.youtube-responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.youtube-responsive-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
