body {
  background-color: aquamarine;
}

// mixins

@mixin ink-margin-top-large {
  margin-top: 4rem;
}

@mixin ink-margin-top-small {
  margin-top: 2em;
}

@mixin ink-margin-top-none {
  margin-top: 0;
}

// product full page

.field--name-field-image-full img,
.field--name-body,
.field--name-field-image-close-up,
.field--name-field-extra-text {
  @include ink-margin-top-large;
}

.field--name-field-image-close-up .field__item:not(:first-child) {
  @include ink-margin-top-small;
}

@include media-breakpoint-up(md) {
  .field--name-field-image-close-up .field__item:not(:first-child) {
    @include ink-margin-top-none;
  }
}

.field--name-field-image-close-up .field__item img {
  border-radius: 5px;
  max-width: 80%;
}

@include media-breakpoint-up(md) {
  .field--name-field-image-close-up .field__item img {
    max-width: 100%;
  }
}

.field--name-field-badge {
  width: calc(4rem + 5vw);
}

// produce sidebar

.ink-sidebar-product {
  margin-top: 5rem;
}

#block-views-block-cards-block-1 h2 {
  text-align: center;
  margin-bottom: 20px;
}
