.ink-card {
  margin: 5px;
}

.ink-card-image {
  width: 250px;
}

.ink-card-image img {
  border-radius: 5px;
}

.ink-card-title {
  color: #fff;
  margin-left: 10px;
}

// .field--name-field-badge {
//   display: flex;
// }

.ink-card-badge img {
  width: 40px;
}
