<a href="{{ url('<front>') }}" class="ink-card">
	<div class="ink-card-image position-relative">{{image}}
		<div class="ink-card-title position-absolute top-0 start-0 fs-3">{{title}}</div>
		<div class="ink-card-badge position-absolute top-0 start-100 translate-middle">{{badge}}</div>
	</div>
</a>
