<div class="test">
	<div class="ink-card-image position-relative">{{image}}
		<div class="ink-card-title position-absolute top-0 start-0 fs-3">{{title}}</div>
		<div class="ink-card-badge position-absolute bottom-0 end-0">{{badge}}</div>
	</div>
</div>
